<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>MCCAL_ACCR_PROF</display-name>
    <distributable/>
    <servlet>
        <servlet-name>LoginOperations</servlet-name>
        <servlet-class>com.seta.servlet.LoginOperations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>com.seta.servlet.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Query</servlet-name>
        <servlet-class>com.seta.servlet.Query</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operazioni</servlet-name>
        <servlet-class>com.seta.servlet.Operazioni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>com.seta.servlet.Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginOperations</servlet-name>
        <url-pattern>/LoginOperations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Query</servlet-name>
        <url-pattern>/Query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operazioni</servlet-name>
        <url-pattern>/Operazioni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>800</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/page_404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/page_500.html</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/page_500.html</location>
    </error-page>
</web-app>
